.my-masonry-grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: auto;
}

.my-masonry-grid_column {
	padding: 10px 15px;
	background-clip: padding-box;
}

.my-masonry-grid_column>div {
	box-sizing: border-box;
    background: grey;
	margin-bottom: 10px;
	border-radius: 5%;
	overflow: hidden;
}