/*
* Usar nombres de clases de CSS más descriptitivas, en el caso de necesitarlas
*/

.masonry-grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: auto;
}

.masonry-grid-column {
	padding: 0 8px;
	background-clip: padding-box;
}

.masonry-grid-column>button {
	box-sizing: border-box;
    background: grey;
	margin-bottom: 16px;
	border-radius: 3%;
}

.masonry-grid-column img {
    border-radius: 3%;
    transition: transform 0.3s ease;
}

.masonry-grid-column img:hover {
    transform: scale(1.08);
}


.masonry-grid-column button:focus img {
    transform: scale(1.08);
}